@import "nib";

@import "../../../../../site/themes/hypermarket/css/styl/include.styl"

@import "./comments.styl";

@import "./sidebar.styl";

@import "./article.styl";

// Plugins
ul.menu-v
    &.categories
        margin-bottom: 20px

        li
            border: none

            a
                padding: 5px 16px

            &.selected a
                color: #000
                text-decoration: none
                font-weight: bold

.tags.cloud
    text-align: center