.s-sidebar-block
    .b-subscribe-list
        margin 0
        padding 0

        li
            margin 0
            padding 5px 0
            list-style none
            font-size 12px
            line-height 20px

            a
                vertical-align top