.s-compare-page

    .price-wrapper
        white-space nowrap

    .no-currency
        .currency
            display none

    .s-empty-page
        margin 1em 0 0

    .s-remove-button
        line-height 1em
        $link()

    .s-compare-filter
        .line
            margin 8px 0 0
            &:first-child
                margin-top 0

        label
            display inline-block
            line-height 16px
            cursor pointer
            input
                position relative
                top 1px;
                margin 0 4px 0 0

    .s-reset-wrapper
        margin $indent() 0 0

        input
            background transparent
            border-color #eac436
            color $getColor("red")

    .s-table-wrapper
        margin 0
        padding 0
        font-size 13px

        .s-product-wrapper
            position relative
            $block()
            padding $pad()
            min-width 130px

            .s-image-wrapper
                text-align center
                a
                img
                    display inline-block
                    vertical-align top
                    max-width 100%

            .s-name-wrapper
                margin $pad() 0 0
                height $pad(2)
                line-height $pad()
                overflow hidden

            .s-rate-wrapper
                margin $pad(.5) 0 0
                font-size 12px
                line-height 14px
                white-space nowrap

                .s-rating-hint
                    position relative
                    top -1px
                    display inline-block
                    margin 0 0 0 7px
                    padding 0 4px
                    border 1px solid #c2c2c2
                    border-radius 4px
                    color #7b7b7b

            .s-prices-section
                font-size 13px
                line-height 16px
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top 10px
                min-height 40px

                .price
                    white-space normal
                    word-break: break-word;

                .s-price-wrapper
                    .s-price
                        &:not(:last-child)
                            margin-right 20px

                .s-price
                    display block
                    line-height 18px
                    color #000
                    .price
                        font-size: 18px
                        line-height 1em
                        font-weight 700

                .s-base-price
                    display block
                    line-height 15px
                    color #888
                    .price
                        font-size: 15px
                        line-height 1em
                        font-weight 700

                .s-compare-price
                    margin-top 4px
                    font-size 13px
                    color: #ff5151
                    text-decoration line-through

                    .s-out-of-stock
                        text-decoration none

                .s-ratio-wrapper
                    margin-top 4px
                    color #888

            .s-actions-wrapper
                margin $pad() 0 0
                line-height 32px

                .loading
                    margin-left 4px
                    top 0
                    vertical-align middle

                .svg-icon
                    vertical-align middle

        .s-compare-table
            border 0
            table-layout fixed

            .icon16
                margin 0 4px 0 0

            tr
                th
                td
                    padding 7px 0 7px $pad()
                    border 0
                    width 250px
                    font-size 13px
                    line-height 16px
                    font-weight normal
                    &:first-child
                        padding-left 0

                    &.s-product-column
                        padding-bottom $pad()

            thead
                tr
                    th.s-actions-column
                        width 235px
                        padding-left 0

            tbody
                tr
                    &:not(.divider)
                        &:nth-child(odd)
                            & > *
                                background #f9f9f9

                    &.divider
                        &:not(:first-child)
                            .s-column-name
                                padding-top $pad(1.5)

                        .s-column-name
                            color #000
                            font-weight 600

                    .s-column-name
                        color $getColor("gray")