.s-paging-wrapper
    text-align center

    &.is-lazy-loading
        .s-paging-list
            display none

    & > *
        margin $indent() 0 0

    .s-paging-list
        li
            display inline-block
            margin 0 0 0 10px

            &:first-child
                margin-left 0

            &.selected a
            a:hover
                border-color rgba(0,0,0,.2)
                color $getColor("menu-hover")

            a
                display inline-block
                min-width 32px
                height 32px

                border-radius 50%
                border 1px solid rgba(0,0,0,.1)

                color #000
                line-height 32px
                text-align center
                text-decoration none

                transition all 200ms linear