.s-profile-page

    .s-hint-wrapper
        &.is-success
            color: #4caf50;

    .s-auth-wrapper
        margin $indent() 0 0

    .s-profile-section
        $block()

        & > .s-profile-header
            background #fff
            padding $indent(.5) 50px

            & + .s-profile-body
                padding-top $indent(.5)

            .s-text
                font-size 12px
                color $getColor("gray")

        & > .s-profile-body
            padding $indent() 50px
            background $getColor("background-gray")

    .s-view-block
        font-size 12px
        line-height 18px

        img
            vertical-align top
            border-radius 50%

        .line
            margin $pad() 0 0
            &:first-child
                margin-top 0

        .s-photo-line
            margin-bottom $indent()

        .s-actions-wrapper
            margin $indent() 0 0

        .s-layout
            .s-column
                &.first
                    width 200px
                    padding-right 8px
                    box-sizing border-box

        .s-label-wrapper
            &.with-ornament
                position relative

                &:before
                    content ""
                    display block
                    position absolute
                    bottom 5px
                    left 0
                    width 100%
                    border-bottom 1px dotted $getColor("gray")

                .s-label
                    position relative
                    background $getColor("background-gray")

            .s-label
                display inline-block
                color $getColor("gray")
                padding 0 4px 0 0

    .wa-form-wrapper
        .wa-form
            &.is-hidden
                display none

            .wa-field
                margin 9px 0 0
                &:first-child
                    margin-top: 0

                & > .wa-name
                    position relative
                    left 6px
                    color $getColor("gray")
                    font-size 13px

                &.wa-field-password
                    & > .wa-name
                        display none

                    .s-change-password-button
                        margin-top $pad()

                &.wa-field-address
                    & > .wa-name
                        color #000
                        font-weight 600

                &.wa-field-photo
                    margin-bottom $indent()

                    .wa-name
                        display none

                    img
                        vertical-align top
                        border-radius 50%

                    p
                        margin 8px 0 0
                        &:first-child
                            margin-top 0

                .wa-value
                    padding 0

                    a + p
                        margin-top: 0

                    .field
                        display block
                        margin 9px 0 0
                        &:first-child
                            margin-top 0

                        & > span
                            position relative
                            left 6px
                            display block
                            color $getColor("gray")
                            font-size 13px

                    &.wa-submit
                        margin $indent() 0 0

                        .s-reset-button
                            $link()
                            font-weight 400